<table ng-hide="narrow.empty === true">
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr ng-repeat="item in narrow.items">
    <th>{{ item.name }}</th>
    <th>{{ item.short_name }}</th>
    <th>{{ item.description }}</th>
    <th>
      <button class="btn btn-default" ng-click="narrow.onRemove({index: $index})">
        <span class="glyphicon glyphicon-remove"></span> Don't want this one!
      </button>
    </th>
  </tr>
</table>

<p ng-show="narrow.empty === true">Nothing found</p>