<h2>My Info</h2>

<div ng-if="myinfoCtrl.info.registered">
  <h3>User Information:</h3>
  <p>First Name: {{myinfoCtrl.info.firstName}}</p>
  <p>Last Name: {{myinfoCtrl.info.lastName}}</p>
  <p>Email Address: {{myinfoCtrl.info.email}}</p>
  <p>Phone Number: {{myinfoCtrl.info.phoneNumber}}</p>
  <p>Favorite Dish: {{myinfoCtrl.info.favoriteDish}}</p>
  <div class="container">
    <menu-item menu-item="myinfoCtrl.info.item" category-short-name="myinfoCtrl.info.category"/>
  </div>
</div>

<span ng-if="!myinfoCtrl.info.registered">Not signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></span>